//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap')
//----- CSS Variables -----
$poppins: 'Poppins', sans-serif
//Primary Colors
$red: hsl(0, 78%, 62%)
$cyan: hsl(180, 62%, 55%)
$orange: hsl(34, 97%, 64%)
$blue: hsl(212, 86%, 64%)
//Neutral Colors
$very-dark-blue: hsl(234, 12%, 34%)
$grayish-blue: hsl(229, 6%, 66%)
$very-light-gray: hsl(0, 0%, 98%)

body
  background-color: #fafafa
  font-family: $poppins
  font-size: 15px

.header-container
  padding: 4rem 14rem

.card-container
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(4, 1fr)
  row-gap: 2rem
  column-gap: 2rem

.first-h1
  text-align: center
  font-size: 2.4rem
  font-weight: 200
  color: $very-dark-blue

.second-h1
  text-align: center
  font-size: 2.5rem
  font-weight: 600
  color: $very-dark-blue

.intro
  padding-top: 1rem
  text-align: center
  font-weight: 400
  color: $grayish-blue

.cards
  background-color: white
  padding: 2rem 2.5rem 2rem 2.5rem
  box-shadow: 0 0 20px -0.4rem $grayish-blue
  border: 1px solid #eee
  border-top-width: 0.3rem
  border-radius: .50rem

  h3
    color: $very-dark-blue
    font-size: 1.3rem
    font-weight: 600

  p
    color: $grayish-blue
    font-size: .9rem
    font-weight: 400
    padding-top: 0.5rem

.img
  margin-top: 3rem
  text-align: end

.team-builder
  border-top-color: $red
  grid-column: 2 / 3
  grid-row: 1 / 3
.supervisor
  border-top-color: $cyan
  grid-column: 1/2
  grid-row: 2/4
.karma
  border-top-color: $orange
  grid-column: 2 / 3
  grid-row: 3 / 5
.calculator
  border-top-color: $blue
  grid-column: 3 / 4
  grid-row: 2 / 4

.attribution
  color: $grayish-blue
  text-align: center
  padding: 2rem

  a
    color: $blue

@media (max-width: 992px)
  .header-container
    width: 80%
    padding: 0

    h1
      font-size: 1.6rem

  .card-container
    margin-left: 3rem
    margin-right: 0
    align-items: center
    width: 50%
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(4, 1fr)
  .team-builder
    grid-column: 1 / 2
    grid-row: 1 / 2
  .supervisor
    grid-column: 1/ 2
    grid-row: 2/ 3
  .karma
    grid-column: 1 / 2
    grid-row: 3 / 4
  .calculator
    grid-column: 1 / 2
    grid-row: 4 / 5
  .img
    width: 50px
    height: 50px
    margin-top: 30px
    margin-left: 13rem

  .attribution
    font-size: 0.8rem